[submodule "opencv-motionDetect"]
	path = opencv-motionDetect
	url = https://github.com/hllerden/opencv-motionDetect.git
[submodule "opencv-yolo"]
	path = opencv-yolo
	url = https://github.com/hllerden/opencv-yolo.git
